@font-face {
    font-family: 'Noto Sans';
    src: url('https://cdn.statically.io/gh/Radisson-DXCoE/RadissonCDN/main/fonts/NotoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('https://cdn.statically.io/gh/Radisson-DXCoE/RadissonCDN/main/fonts/NotoSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('https://cdn.statically.io/gh/Radisson-DXCoE/RadissonCDN/main/fonts/NotoSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



html {
    font-family: 'Noto Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    margin: 0;
}
main {
    flex: 1;
  }

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 48px;
}

.logo {
    padding-top: 48px;
    width: 300px;
    height: 100%;
}

h1 {
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    line-height: 36px
}

.copy {
    gap:24px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding: 0px 24px;
}

.copy a {
    color: #C62525;
}

footer {
    min-height: 50px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 0px 24px;
  }


@media screen and (max-width: 460px) {
    .logo {
        width: 200px;
        height: 100%;
    }

    h1 {
        font-size: 24px;
        line-height: 28px
    }

    .copy {
        font-size: 16px;
        line-height: 22px;
    }
}
/* @media screen and (min-width: 1080px) {
    .logo {
        width: 300px;
        height: 100%;
    }

    h1 {
        font-size: 46px;
        line-height: 58px
    }

    .copy {
        font-size: 32px;
        line-height: 38px;
    }
} */
